name: Java CI
run-name: Triggering execution of Java tests
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, edited, reopened, synchronize, ready_for_review]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Build and install / test NSTSuite with Maven
        run: mvn -U -e clean install -Dgpg.skip=true
      - name: Build and test NSTTutorials project with Maven
        run: mvn -U -f NSTTutorials/pom.xml clean test -Dgpg.skip=true
      - name: Publish Test Report
        if: ${{ always() }}
        uses: scacap/action-surefire-report@v1
